@model List<webdev.Models.Link>
<div>
    @using (Html.BeginForm("Create", "Link", FormMethod.Post))
    {
        <input type="text" name="Long" placeholder="Full Link"/> <br/>
        <button type="submit">Add</button>
    }
</div>  
<div>
    <table>
        @foreach(var item in Model) {
            <tr>
                <td><strong>@Html.DisplayNameFor(model => item.Long):</strong></td>
                <td>@Html.DisplayFor(model => item.Long),</td>
                <td><strong>@Html.DisplayNameFor(model => item.Short):</strong></td>
                <td>@Html.DisplayFor(model => item.Short)</td>
                <td>@Html.ActionLink("Delete", "Delete", "Link", item)</td>
            </tr>
        }
    </table>
    @if(Model.Count>0)
    {
      <div>@Html.ActionLink("DeleteAll", "DeleteAll")</div>
    }
</div>